@model List<moment2.Models.WorkoutModel>
@{
    ViewData["Title"] = "Result";
    int amount = 0;
}

<div class="text-center">
    <h2 class="display-4">Tränade pass</h2>
    <article>
        @foreach(var workout in Model)
        {
            <h3>@workout.Date.ToString("yyyy/MM/dd")</h3>
            <h4>@workout.Type [@workout.Duration minuter]</h4>
            <p>@workout.Description</p>
            <h5>Kändes @workout.Feel</h5>
            amount++;
        }
    </article>
    <p>@ViewBag.sessionContent Du har tränat @amount gånger. Bra jobbat!</p>
</div>
